{% extends 'layout.html' %} {% block content %}
{%include"partials/slider.html"%}
<div class="container">
  <div class="row">
    <p></p>
    {% for card in cards %}
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img src="{{card [3]}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{card [0]}}</h5>
          <p class="card-text">{{card [1]}}</p>
          <a href="#" class="btn btn-primary">{{card [2]}}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
    <h1><strong> Jazz albums</strong></h1>
    <p></p>
    <div class="row g-1" <div class="col-md-6 mb-4">
      <div class="card" style="width: 18rem">
        <img src="static/images/Mingus.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
        </div>
      </div>
    </div>
    <div <div class="col-md-6 mb-4">
      <div class="card" style="width: 18rem">
        <img src="static/images/Mingus.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
